@media (max-width:670px) {
  /* Tetapkan flex-direction milik .flex-list */
  .support-grid {
    flex-direction:column;
  }
  
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .support-grid.thumb img{
    margin: 0 auto;
    width: 50%;

  }
  }

  @media (max-width: 1000px) {
    .support-grid{
      flex-wrap: wrap;
    }
    .band .thumb img{
      width: 50%;
    }
  }
  



.support-grid{
  margin-bottom: 2%;
  margin-top: 2%;
}

.band {
  
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 600px) {
  .band  {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h5 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .2s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;

}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color:#a78f0b;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

span .mrh{
  color: red;
}

.card img{
height: 350px;
}

@media (max-width:670px) {
  /* Tetapkan flex-direction milik .flex-list */
  .card{
    flex-direction:column;
  }
  
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .card{
height: 455px;
width: 100%;

  }
  }

  @media (max-width: 1000px) {
    .sider {
      flex-wrap: wrap;
    }
    .sider img {
      
    }
  }